@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;

  line-height: 150%;
  /*font-family: "Lato", sans-serif;*/
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ecddd027;
}

.container {
  flex: 7;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-behavior: smooth;
  /*overflow-y: hidden;*/
  display: flex;
}

.container > section {
  flex: none;
  /*width: calc(100vw - 100px);*/
  width: 100vw;
  scroll-snap-align: start;
  /*scroll-margin-left: 100px;*/

  overflow: hidden;
}

@media (max-width: 840px) {
  .container {
    display: block;
  } 
  .container > section{
    height:auto;
    
  }
}
